<configuration>
    <appender name="jsonConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger - %msg %n</pattern>
        </encoder>
    </appender>


    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- Specific Logger for org.zalando.logbook.Logbook -->
    <logger name="org.zalando.logbook.Logbook" level="TRACE" additivity="false">
        <appender-ref ref="jsonConsoleAppender" />
    </logger>
</configuration>
